# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Models & Data
*.pt
models/
output.jsonl
data/dataset/
dataset.zip
debug_seg/
data/samples/*.mp4
data/samples/*.png
data/samples/*.jpg

# Ignore all samples but keep the directory (optional, but user wants to keep them)
# data/samples/*

# OS / IDE
.DS_Store
.idea/
.vscode/

# Logs
*.log
